body {
  font-family: 'Cutive Mono',monospace;
  padding: 5%; }
  @media (min-width: 768px) {
    body {
      padding: 11.11%; } }

.header,
.composition {
  margin-bottom: 50px; }

.header-text {
  font-weight: bold;
  font-size: 32px;
  border-bottom: 1px solid black; }

.cursor {
  font-weight: lighter;
  color: darkgray; }

#initial-input {
  font-size: 18px;
  position: absolute;
  left: calc(50% - 120px);
  width: 215px;
  opacity: 0;
  caret-color: transparent; }

.composition-container {
  text-align: center;
  font-size: 18px; }

.composition-container #composition-field,
.composition-container .cursor {
  pointer-events: none; }

.composition-container .cursor {
  position: relative;
  left: -15px;
  line-height: 18px;
  font-size: 24px;
  -webkit-animation: blink 1.1s step-end infinite;
  animation: blink 1.1s step-end infinite; }

.suggestions {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin: 0 auto; }

.suggestion-field {
  width: 33.33%;
  max-width: 250px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  color: gray;
  cursor: pointer; }

.suggestion-field:not(:empty) {
  border-right: 1px solid gray; }
  .suggestion-field:not(:empty):first-child {
    border-left: 1px solid gray; }

/* Animation */
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }