@charset "UTF-8";
body {
  font-family: "Cutive Mono", monospace;
  padding: 5%;
}
@media (min-width: 768px) {
  body {
    padding: 11.11%;
  }
}

.header {
  margin: 50px 0 30px;
}
@media (min-width: 768px) {
  .header {
    margin: 15px 0 30px 0;
  }
}

.header-text {
  font-weight: bold;
  font-size: 32px;
  border-bottom: 1px solid black;
  cursor: default;
}

.cursor {
  font-weight: lighter;
  color: darkgray;
}

.page {
  position: absolute;
  width: 90%;
  left: -100vw;
}
.page.slide-in, .page.active-page {
  left: 5%;
}
.page.active-page.slide-out {
  left: 100vw;
  -webkit-transition: left ease 300ms;
  transition: left ease 300ms;
}
.page.slide-in {
  -webkit-transition: left ease 300ms;
  transition: left ease 300ms;
}
@media (min-width: 768px) {
  .page {
    width: 77.88%;
  }
  .page.active-page, .page.slide-in {
    left: 11.11%;
  }
  .page.active-page.slide-out {
    left: 100vw;
  }
}

.navigation {
  position: absolute;
  top: 25px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list-item {
  margin-right: 20px;
  font-size: 14px;
  color: gray;
}
.nav-list-item:last-child {
  margin-right: 0;
}
.nav-list-item.active-nav-item {
  font-weight: bold;
  cursor: default;
}
.nav-list-item:not(.active-nav-item) {
  cursor: pointer;
}
.nav-list-item:not(.active-nav-item):hover {
  text-decoration: underline;
}

.page#compose-page {
  margin-top: 10px;
}

#initial-input {
  font-size: 18px;
  position: absolute;
  left: calc(50% - 120px);
  width: 215px;
  opacity: 0;
  caret-color: transparent;
}

.composition {
  margin-bottom: 50px;
}

.composition-container {
  text-align: center;
  font-size: 18px;
}

.composition-container #composition-field,
.composition-container .cursor {
  pointer-events: none;
}

.composition-container .cursor {
  position: relative;
  left: -15px;
  line-height: 18px;
  font-size: 24px;
  -webkit-animation: blink 1.1s step-end infinite;
  animation: blink 1.1s step-end infinite;
}

.suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;
}

.suggestion-field {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  max-width: 250px;
  padding: 0 10px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}
.suggestion-field:empty {
  pointer-events: none;
}
.suggestion-field:not(:empty) {
  border-right: 1px solid gray;
}
.suggestion-field:not(:empty):first-child {
  border-left: 1px solid gray;
}
.suggestion-field.start-btn {
  cursor: pointer;
  pointer-events: all;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.suggestion-field.start-btn::after {
  content: "START";
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.button {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  border-radius: 50%;
  border: none;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.button.restart {
  background-image: url(../assets/restart-key.png);
  left: 1px;
}
.button.back {
  background-image: url(../assets/backspace-key.png);
}
.button.save {
  background-image: url(../assets/save-key.png);
}
.button.share {
  background-image: url(../assets/share-key.png);
}
.button.share-fb {
  background-image: url(../assets/facebook-key.png);
}
.button.share-twitter {
  background-image: url(../assets/twitter-key.png);
}
.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (min-width: 550px) {
  .button {
    height: 35px;
    width: 35px;
  }
}

.sharing {
  position: relative;
}
.sharing .button {
  margin-right: 0;
}
.sharing .share {
  position: relative;
  z-index: 2;
}
.sharing .social-btn {
  position: absolute;
  top: 2.5px;
  left: 0px;
  height: 25px;
  width: 25px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: left 200ms ease-in, opacity 0s ease 200ms;
  transition: left 200ms ease-in, opacity 0s ease 200ms;
}
@media (min-width: 550px) {
  .sharing .social-btn {
    height: 30px;
    width: 30px;
  }
}
.sharing.expanded .social-btn {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}
.sharing.expanded .social-btn.share-fb {
  left: 35px;
}
@media (min-width: 550px) {
  .sharing.expanded .social-btn.share-fb {
    left: 40px;
  }
}
.sharing.expanded .social-btn.share-twitter {
  left: 65px;
}
@media (min-width: 550px) {
  .sharing.expanded .social-btn.share-twitter {
    left: 75px;
  }
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Cursor Animation */
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.museum-entry {
  color: midnightblue;
  text-align: center;
  margin: 0 20px;
  padding: 37px 0;
  border-bottom: 1px dotted gray;
}
.museum-entry:first-child {
  padding-top: 10px;
}

.poem-composer {
  color: gray;
  font-size: 13px;
  text-align: right;
}
.poem-composer::before, .poem-composer::after {
  content: "—";
}

.about .bold {
  font-weight: bold;
}
.about p {
  line-height: 1.3em;
  margin: 24px 20px;
}
.about p.postscript {
  font-size: 13px;
}
.about p:not(.postscript) .bold {
  display: block;
  margin-bottom: 5px;
}

.save-poem-dialogue,
.save-poem-overlay {
  opacity: 0;
  pointer-events: none;
}
.dialogue-open .save-poem-dialogue,
.dialogue-open .save-poem-overlay {
  pointer-events: all;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.save-poem-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 100;
}
.dialogue-open .save-poem-overlay {
  opacity: 0.7;
}

.save-poem-dialogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  width: 80vw;
  height: 50vw;
  max-height: 200px;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgray;
  z-index: 200;
}
.dialogue-open .save-poem-dialogue {
  opacity: 1;
}

.dialogue-text {
  text-align: center;
}

.dialogue-input {
  font-family: "Cutive Mono", monospace;
  font-size: 16px;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px 10px;
  border: none;
}
.dialogue-input:focus {
  outline-color: darkgray;
}

.db-save-btn {
  font-family: "Cutive Mono", monospace;
  text-transform: uppercase;
  width: 120px;
  height: 30px;
  margin: 20px auto 0;
  background-color: darkgray;
  border: none;
  color: white;
  cursor: pointer;
}