#initial-input {
    font-size: 18px;
    position: absolute;
    left: calc(50% - 120px);
    width: 215px;
    opacity: 0;
    caret-color: transparent;
}

.composition {
    margin-bottom: 50px;
}

.composition-container {
    text-align: center;
    font-size: 18px;
}

.composition-container #composition-field,
.composition-container .cursor {
    pointer-events: none;
}

.composition-container .cursor {
    position: relative;
    left: -15px;
    line-height: 18px;
    font-size: 24px;
    -webkit-animation: blink 1.1s step-end infinite;
    animation: blink 1.1s step-end infinite;
}

.suggestions {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    margin: 0 auto;
}

.suggestion-field {
    width: 33.33%;
    max-width: 250px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    
    &:not(:empty) {
        border-right: 1px solid gray;

        &:first-child {
            border-left: 1px solid gray;
        }
    }
}

/* Cursor Animation */

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


// #generate-btn {
//     display: block;
//     margin: 0 auto;
//     width: 100px;
//     height: 35px;
//     border: none;
//     background: skyblue;
//     color: white;
//     font-size: 13px;
//     font-family: 'Cutive Mono', monospace;
//     text-transform: uppercase;
//     cursor: pointer;
// }