.museum-entry {
    color: midnightblue;
    text-align: center;
    margin: 0 20px;
    padding: 37px 0;
    border-bottom: 1px dotted gray;

    &:first-child {
        padding-top: 10px;
    }
}

.poem-composer {
    color: gray;
    font-size: 13px;
    text-align: right;

    &::before,
    &::after {
        content: '—';
    }
}