body {
    font-family: 'Cutive Mono',monospace;
    padding: 5%;

    @media (min-width: 768px) {
        padding: 11.11%;
    }
}

.header {
    margin: 15px 0 50px 0;
}

.header-text {
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid black;
    cursor: default;
}

.cursor {
    font-weight: lighter;
    color: darkgray;
}

.page {
    position: absolute;
    width: 77.88%;          // 100% - (2 * 11.11% padding)
    left: -100vw;

    &.active-page {
        left: 11.11%;
    }

    &.active-page.slide-out {
        left: 100vw;
        transition: left ease 300ms;
    }
    
    &.slide-in {
        left: 11.11%;
        transition: left ease 300ms;
    }
}