.save-poem-dialogue, 
.save-poem-overlay {
    display: none;
}

.save-poem-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: .7;
    z-index: 1;

    .dialogue-open & {
        display: block;
    }
}

.save-poem-dialogue {
    flex-direction: column;
    position: relative;
    width: 80vw;
    height: 50vw;
    padding: 10px;
    border-radius: 5px;
    background-color: lightgray;
    z-index: 10;

    .dialogue-open & {
        display: flex;
    }
}

.dialogue-text {
    text-align: center;
}

.dialogue-input {
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
    padding: 5px 10px;

    &:focus {
        outline-color: darkgray;
    }
}

.dialogue-btn {
    font-family: 'Cutive Mono', monospace;
    text-transform: uppercase;
    width: 120px;
    height: 30px;
    margin: 20px auto 0;
    background-color: darkgray;
    color: white;
    cursor: pointer;
}

